.wordle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cells {
  margin-bottom: 30px;
}

.row {
  width: 480px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cell {
  width: 90px;
  height: 90px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.heading {
  margin: 20px 0 50px 0;
}

.keyboard {
  width: 600px;
}

.kb-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.kb-key {
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: .2s all;
}

.kb-key.extended {
  width: 80px;
}

.kb-key:hover {
  background-color: #ccc;
}

.kb-info {
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  /* color: red; */
}
